body{
    font-family: 'Open Sans', sans-serif;
}

#carte {
    display: flex;
}
#carte1{
    width: 60%;
    display: flex;
}

#carte1_1{
    width: 75%;
}

#carte1_2{
    width: 25%;
}
.prix_pizzas{
    padding-left: 20px;
    padding-top: 20px;
    line-height: 35px;
}
#carte2{
    display: flex;
    width: 35%;
}

#carte2_1{
    width: 70%; 
}

#carte2_2{
    width: 30%; 
}
.prix_glaces{
    padding-top: 20px;
    padding-left: 20px;
    line-height: 20px;
}
.prix_vins{
    padding-top: 30px;
    line-height: 35px;
    padding-left: 20px;
}





