#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 1.5rem;
    overflow: hidden;
    background-color: #a19e94;
}

li {
    float: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;

}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: #fff;
}

.active {
    color: #fff;
}