* {
    margin: 0;
    padding: 0;
}
.acces {
    margin-top: 0;
    padding-top: 0;
}

#contact {
    /* ACCES 145 rue Yves le Coz 78000 VERSAILLES 06 99 99 99 99 reservation@lamanu.fr */
    position: relative;
    width: 80%;
    height: 10rem;
    left: 10%;
    top: 5rem;

    font-family: 'Gentium Book Basic';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #000000;
}

#plan {
    text-align: center;
    margin-top: 6rem;
    overflow: hidden;
    position: relative;
    height: 32rem;
}

#plan iframe {
    left:0;
    top: 1rem;
    height:100%;
    width:60%;
    position:relative;
    }

#tel a {
    color: #000000;
}
#mail a {
    color: #000000;
}

footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color:#a19e94 ;
    display: flex;
    justify-content: space-around;
}
